<%- include('../header') %>
<div class="uk-container">
    
    <h2>Publicações</h2>

    <a href="/publicacoes/nova" class="uk-button uk-button-primary">Adicionar Publicação</a>
    
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th class="uk-table-expand">Título</th>
                <th class="uk-table-shrink">Alterar</th>
                <th class="uk-table-shrink">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <% publicacoes.forEach( publicacao => { %>
            <tr>
                <td>
                    <%= publicacao.titulo %>
                </td>
                <td><a href="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>" uk-icon="icon: file-edit"></a> </td>
                <td><a href="/publicacoes/excluir/<%= categoria %>/<%= publicacao.id %>" uk-icon="icon: trash"></a> <br /></td>
            </tr>
            <%}) %>
        </tbody>
    </table>
</div>
<%- include('../footer') %>